@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'GROZEN MEDICAL DEMO';
    src: url(/grozen-medical.otf) format('opentype');
    font-weight: 600;
  }

  :root {
    font-family: 'Public Sans', system-ui, sans-serif;
    color-scheme: light dark;
    font-size: 17px;
    @apply font-body text-primary bg-background;
  }

  body {
    @apply text-body;
  }

  p {
    @apply mb-4;
  }
}

@layer components {
  .font-display {
    font-family: 'GROZEN MEDICAL DEMO', system-ui, sans-serif;
    text-transform: uppercase;
    margin-bottom: -0.2lh;
  }

  .font-body {
    font-family: 'Public Sans', system-ui, sans-serif;
  }

  .accentline::after {
    @apply block content-[''] bg-accent h-1.5 w-16 -skew-x-[20deg] mb-2;
  }

  .wedge::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: calc(100% + 2.5rem);
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, calc(100% - 2.2rem) 100%, 0% 100%);
    @apply backdrop-blur-md;
  }
}