@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "GROZEN MEDICAL DEMO";
    src: url(/grozen-medical.otf) format("opentype");
    font-weight: 600;
  }

  * {
    color-scheme: only dark;
  }

  :root {
    font-family: "Public Sans", system-ui, sans-serif;
    font-size: 17px;
    background-clip: padding-box;
    accent-color: var(--accent-fill);
    @apply font-body text-primary bg-background;
  }

  p:not(:last-child) {
    @apply mb-4;
  }
}

@layer components {
  .font-display {
    font-family: "GROZEN MEDICAL DEMO", system-ui, sans-serif;
    text-transform: uppercase;
    margin-bottom: -0.2lh;
  }

  .font-body {
    font-family: "Public Sans", system-ui, sans-serif;
  }

  .accentline::after {
    @apply block content-[''] bg-accent h-1.5 w-16 -skew-x-[20deg] mb-2;
  }

  .wedge::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: calc(100% + 2.7rem);
    height: 100%;
    clip-path: polygon(0% 0%, 100% 0%, calc(100% - 2.2rem) 100%, 0% 100%);
    @apply bg-inherit backdrop-blur-md;
  }
}