@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "GROZEN MEDICAL DEMO";
    src: url(/assets/grozen-medical.otf) format("opentype");
    font-weight: 600;
  }

  :root {
    color-scheme: only dark;
    font-family: "Public Sans", system-ui, sans-serif;
    font-size: 17px;
    background-clip: padding-box;
    accent-color: var(--accent-fill);
    @apply font-body text-primary bg-background;
  }

  ::selection {
    @apply text-[Canvas] bg-accent-light;
  }

  p:not(:last-child) {
    margin-bottom: 1.3rem;
  }

  input[type=color] {
    padding: 0;
    background-color: transparent;
    border: 0;
  }

  /* * {
    outline: 1px solid red;
  } */
}

@layer components {
  .font-display {
    font-family: "GROZEN MEDICAL DEMO", system-ui, sans-serif;
    text-transform: uppercase;
    margin-bottom: -0.2lh;
  }

  .font-body {
    font-family: "Public Sans", system-ui, sans-serif;
  }

  .dots {
    background: radial-gradient(circle, var(--element-fill) 0%, var(--element-fill) 4%, var(--background-fill) 4%, var(--background-fill) 100%);
    background-repeat: repeat;
    background-size: 48px 48px;
  }

  .accentline::after {
    @apply block content-[''] bg-accent h-1.5 w-16 -skew-x-[20deg] mb-2 mt-2;
  }

  .accentbutton {
    @apply block relative w-fit text-[Canvas] px-4 py-1.5;
  }

  .accentbutton::after {
    @apply block content-[''] absolute top-0 left-0 -z-10 w-full h-full bg-accent transition-transform hover:-skew-x-[20deg]
  }

  .wedge {
    position: relative;
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 4rem), calc(100% - 3rem) 100%, 0% 100%);
  }

  .wedge::after {
    content: '';
    @apply absolute bottom-0 right-[2.95rem] w-0 h-16 origin-bottom-right -skew-x-[36.87deg] border-r border-card-stroke
  }

  .band {
    clip-path: polygon(0% 4rem, 4rem 0%, 100% 0%, 100% calc(100% - 4rem), calc(100% - 4rem) 100%, 0% 100%);
  }

  .infogrid > :nth-child(4n + 3) {
    grid-column-start: 2;
    
  }

  .infogrid > :nth-child(4n + 4) {
    justify-self: end;  
  }
  
}