:root {
  --text-primary: #dedede;
  --text-secondary: #5a5a5a;
  --background-fill: #1e1e1e;
  --card-fill: #ffffff19;
  --card-stroke: #ffffff32;
  --element-fill: #ffffff20;
  --element-stroke: #ffffff32;
  --accent-fill: #ff6230;
  --divider-stroke: #ffffff32;
}
