:root {
    --text-primary: #2c2c2c;
    --text-secomdary: #0f0f0f;
    --background-fill: #f7f7f7;
    --card-fill: #fff;
    --card-stroke: #00000038;
    --element-fill: #f6f6f6;
    --element-stroke: #00000050;
    --accent-fill: #f34b16;
    --divider-stroke: #00000050;
}

@media(prefers-color-scheme: dark) {
    :root {
        --text-primary: #dedede;
        --text-secondary: #5a5a5a;
        --background-fill: #1e1e1e;
        --card-fill: #ffffff19;
        --card-stroke: #ffffff32;
        --element-fill: #ffffff20;
        --element-stroke: #ffffff32;
        --accent-fill: #ff6230;
        --divider-stroke: #ffffff32;
    }
}